@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Indie+Flower&display=swap');

img {
    width: 1000px;
    height: auto;
  }

  .carousel-item{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  body {
    background-color: #edf2c2;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Dosis', sans-serif;
}
